<!-- Market Indices Cards -->
<div class="market-indices">
    <div class="index-card">
        <div class="card-header">
            <h3>TUNINDEX</h3>
            <span id="tunindexTime" class="time-stamp">-</span>
        </div>
        <div class="card-body">
            <div class="index-value">
                <span id="tunindexValue">-</span>
                <span id="tunindexChange" class="change">-</span>
            </div>
            <!-- Ajout du conteneur pour le graphique -->
            <div class="chart-container">
                <canvas id="tunindexChart" height="150"></canvas>
            </div>
        </div>
    </div>
    <div class="index-card">
        <div class="card-header">
            <h3>TUNINDEX20</h3>
            <span id="tunindex20Time" class="time-stamp">-</span>
        </div>
        <div class="card-body">
            <div class="index-value">
                <span id="tunindex20Value">-</span>
                <span id="tunindex20Change" class="change">-</span>
            </div>
            <!-- Ajout du conteneur pour le graphique -->
            <div class="chart-container">
                <canvas id="tunindex20Chart" height="150"></canvas>
            </div>
        </div>
    </div>
</div>



